# <b><span style='color:#0B2F9F'>Pengantar</span></b>

Dalam analisis data, langkah awal yang penting adalah mengambil, membatasi, dan mengurutkan informasi dari sumber data agar hasil yang diperoleh relevan dan mudah dipahami. Kemampuan untuk menampilkan data sesuai kebutuhan, hanya pada bagian yang diperlukan, serta menyusunnya dengan urutan yang tepat, menjadi dasar dalam proses eksplorasi dan pengolahan data. Dengan pemahaman konsep ini, seorang analis dapat bekerja lebih efisien dalam menemukan pola, menjawab pertanyaan bisnis, dan menyajikan insight yang akurat.

# <b><span style='color:#0B2F9F'>Set up</span></b>

Dibutuhkan proses autentikasi dari Google Colab ke Google Big Query. Ikuti langkah berikut https://drive.google.com/file/d/1gW8alZ_PrvcrsieqWCHOR4ssLI_25BRc/view untuk detail step-by-step nya

In [ ]:
# Import library yang dibutuhkan
from google.colab import auth, data_table
from google.cloud import bigquery
from pandas_gbq import to_gbq

# Proses autentikasi akun
auth.authenticate_user()
print('Authenticated')

In [ ]:
# Buat BigQuery client
project_id = 'dqlab-475713'
client = bigquery.Client(project = project_id)

# <b><span style='color:#0B2F9F'>Latar Belakang</span></b>

Di sebuah sudut kota Jakarta, telah didirikan sebuah restoran pizza bernama Plato’s Pizza. Selama satu tahun terakhir, telah dilakukan pencatatan atas setiap transaksi yang terjadi. Mulai dari pemesanan menu hingga pembayaran pelanggan. Banyak data telah dikumpulkan dan dicatat. Namun, belum dilakukan pemanfaatan optimal terhadap informasi yang tersedia. Pemilik restoran menginginkan agar data ini dapat dianalisis guna menemukan ruang untuk perbaikan dan melakukan efisiensi operasional sehingga diharapkan dapat meningkatkan penjualan pizza, menekan biaya operasional dan meningkatkan customer experience

<a id="A"></a>
# <b>A. <span style='color:#0B2F9F'><code>SELECT</code></span></b>

Perintah `SELECT` bertujuan untuk mengambil dan menampilkan data dari tabel di database. Ini penting untuk analisis karena saat menganalisa data perlu mengakses data yang relevan untuk dianalisis seperti mengidentifikasi pola, tren, dan informasi penting lainnya.

<a id="A.1."></a>
## <b>A.1. <span style='color:#0B2F9F'>Menampilkan Semua Data pada Satu Tabel</span></b>

Untuk dapat menampilkan semua isi (data) pada sebuah tabel, eksekusi perintah

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-Select1.png" width="50%">

Dalam perintah `SELECT`, tanda bintang (*) digunakan untuk memilih semua kolom dari tabel yang disebutkan. Cara ini merupakan cara cepat untuk mengambil seluruh data tanpa perlu menyebutkan nama-nama kolom satu per satu.

<i>docs : <a href="https://dev.mysql.com/doc/refman/8.4/en/selecting-all.html">https://dev.mysql.com/doc/refman/8.4/en/selecting-all.html</a></i>

#### <i><b><span style='color:#55679C'>Quest</span> : Management ingin mengetahui seluruh data transaksi pada DQPizza, sehingga tampilkan semua data pada tabel orders!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan semua data pada tabel orders
SELECT * FROM dqlab-9876543.dq_pizza.orders

<a id="A.2."></a>
## <b>A.2. <span style='color:#0B2F9F'>Menampilkan Kolom Tertentu pada Satu Tabel</span></b>

Untuk dapat menampilkan isi data pada kolom tertentu pada sebuah tabel, eksekusi perintah

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-Select2.png" width="50%">

Gunakan tanda koma untuk mendaftarkan nama kolom yang ingin ditampilkan. Kolom yang disebutkan pertama kali akan ditampilkan paling kiri begitu juga dengan kolom kedua hingga kolom terakhir.

<i>docs : <a href="https://dev.mysql.com/doc/refman/8.4/en/selecting-columns.html">https://dev.mysql.com/doc/refman/8.4/en/selecting-columns.html</a></i>

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan kolom order_id, customer_id dan order_date pada tabel orders!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan kolom order_id, customer_id dan order_date pada tabel orders
SELECT order_id, customer_id, order_date FROM dqlab-9876543.dq_pizza.orders

<a id="A.3."></a>
## <b>A.3. <span style='color:#0B2F9F'>Mengubah Penyebutan Nama Kolom pada Satu Tabel</span></b>

Terkadang perlu untuk memberi nama lain pada saat data ditampilkan untuk mempermudah pembacaan atau tujuan lainnya. Untuk mengubah nama sementara yang diberikan kepada kolom atau tabel dalam query bisa menggunakan perintah `AS` atau biasa disebut Alias. Untuk dapat mengubah nama kolom sementara pada sebuah tabel, eksekusi perintah

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-Select3.png" width="50%">

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan kolom order_id, customer_id, order_date dan is_complain pada tabel orders namun ubah penamaan is_complain pada output menjadi is_customer_complain agar lebih jelas</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan kolom order_id, customer_id, order_date dan is_complain pada tabel orders
-- namun ubah penamaan is_complain pada output menjadi is_customer_complain
SELECT
  order_id,
  customer_id,
  order_date,
  is_complain AS is_customer_complain
FROM dqlab-9876543.dq_pizza.orders

<a id="B"></a>
# <b>B. <span style='color:#E1B12D'><code>DISTINCT</code></span></b>

Perintah `DISTINCT` dalam SQL digunakan untuk menghapus duplikasi dalam hasil query. Dengan `DISTINCT`, dapat dipastikan bahwa setiap baris dalam hasil query unik dan tidak ada baris yang sama. Untuk menggunakan perintah ini haruslah diletakkan setelah perintah `SELECT`.

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-Distinct.png" width="50%">

docs : <a href="https://dev.mysql.com/doc/refman/8.4/en/distinct-optimization.html"><i>https://dev.mysql.com/doc/refman/8.4/en/distinct-optimization.html</a></i>

<a id="B.1."></a>
## <b>B.1. <span style='color:#0B2F9F'>Nilai Unik pada Satu Kolom Tertentu</span></b>

#### <i><b><span style='color:#55679C'>Quest</span> : Beberapa kali DQPizza mengalami komplain, sebutkan apa saja komplain yang pernah terjadi di DQPizza!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan komplain apa saja yang pernah terjadi di DQPizza
SELECT DISTINCT
  complain_detail
FROM dqlab-9876543.dq_pizza.orders

<a id="B.2."></a>
## <b>B.2. <span style='color:#0B2F9F'>Nilai Unik pada Lebih dari Satu Kolom</span></b>

Perintah `DISTINCT` dapat diterapkan dilebih dari satu kolom. Jika diterapkan pada lebih dari satu kolom maka akan menghasilkan kombinasi unik antar baris pada kolom yang terpilih

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan siapa saja karyawan yang pernah menerima komplain dan jenis komplain apa saja yang pernah terjadi!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan siapa saja karyawan yang pernah menerima komplain dan
-- jenis komplain apa saja yang pernah terjadi di DQPizza
SELECT DISTINCT
  order_maker_id,
  complain_detail
FROM dqlab-9876543.dq_pizza.orders

<a id="C"></a>
# <b>C. <span style='color:#E1B12D'><code>LIMIT</code></span></b>

Tidak semua data ingin ditampilkan untuk proses <i>sampling</i>, sehingga perlu dikontrol dan melakukan pembatasan jumlah baris yang dikembalikan oleh sebuah query.
Perintah `LIMIT <jumlah_data>` dalam SQL digunakan untuk membatasi data yang ingin ditampilkan. `LIMIT` diletakkan paling akhir dari sebuah query dengan perintah `SELECT`.

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-Limit.png" width="50%">

docs : <a href="https://dev.mysql.com/doc/refman/8.4/en/limit-optimization.html"><i>https://dev.mysql.com/doc/refman/8.4/en/limit-optimization.html</a></i>

<a id="C.1."></a>
## <b>C.1. <span style='color:#0B2F9F'>Membatasi Jumlah Baris (yang ditampilkan) di Semua Kolom pada Data</span></b>

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan semua 5 data teratas pada tabel orders!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan semua 5 data pada tabel orders

SELECT * FROM dqlab-9876543.dq_pizza.orders LIMIT 5

<a id="C.2."></a>
## <b>C.2. <span style='color:#0B2F9F'>Membatasi Jumlah Baris (yang ditampilkan) di Kolom Tertentu pada Data</span></b>

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan 7 data teratas untuk kolom order_id, customer_id, dan order_date pada tabel orders!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan 7 data teratas saja untuk kolom order_id, customer_id dan order_date
SELECT
  order_id,
  customer_id,
  order_date
FROM dqlab-9876543.dq_pizza.orders LIMIT 7

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan 5 data saja pada kolom order_id, customer_id, order_date dan is_complain pada tabel orders namun ubah penamaan is_complain pada output menjadi is_customer_complain agar lebih jelas</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan 5 data teratas saja untuk kolom order_id, customer_id, order_date dan is_complain pada tabel orders
-- namun ubah penamaan is_complain pada output menjadi is_customer_complain
SELECT
  order_id,
  customer_id,
  order_date,
  is_complain AS is_customer_complain
FROM dqlab-9876543.dq_pizza.orders LIMIT 5

<a id="D"></a>
# <b>D. <span style='color:#E1B12D'><code>ORDER BY</code></span></b>

Perintah lain yang tak kalah penting yang membantu dalam menganalisis data untuk melihat data dalam urutan yang diinginkan adalah perintah `ORDER BY`. Perintah `ORDER BY` dalam SQL digunakan untuk mengurutkan hasil query berdasarkan satu atau lebih kolom. Cara pengurutan data dibagi menjadi dua cara yakni <b>Ascending</b> dan <b>Descending</b>
<ul>
    <li><b>Ascending</b> : Pengurutan secara naik (dari kecil ke besar) atau A-Z</li>
    <li><b>Descending</b> : Pengurutan secara turun (dari besar ke kecil) atau Z-A</li>
</ul>

Untuk dapat menampilkan isi data secara terurut pada kolom tertentu pada sebuah tabel, eksekusi perintah


<i>docs : <a href="https://dev.mysql.com/doc/refman/8.4/en/sorting-rows.html">https://dev.mysql.com/doc/refman/8.4/en/sorting-rows.html</a></i>

<a id="D.1."></a>
## <b>D.1. <span style='color:#0B2F9F'>Mengurutkan secara <i>Ascending</i></span></b>

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-OrderByASC.png" width="50%">

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan semua data pada tabel orders namun urutkan berdasarkan kolom order_id secara ascending!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan semua data pada tabel orders terurut berdasarkan kolom order_id secara ascending
SELECT * FROM dqlab-9876543.dq_pizza.orders ORDER BY order_id ASC

<a id="D.2."></a>
## <b>D.2. <span style='color:#0B2F9F'>Mengurutkan secara <i>Descending</i></span></b>

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-OrderByDESC.png" width="50%">

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan semua data pada tabel orders namun urutkan berdasarkan kolom order_date secara descending!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

-- Tampilkan semua data pada tabel orders terurut berdasarkan kolom order_date secara descending
SELECT * FROM dqlab-9876543.dq_pizza.orders ORDER BY order_date DESC

<a id="D.3."></a>
## <b>D.3. <span style='color:#0B2F9F'>Kombinasi <i>Ascending</i> & <i>Descending</i> saat Mengurutkan Data</span></b>

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan siapa saja karyawan yang pernah menerima komplain dan jenis komplain apa saja yang pernah terjadi, urutkan berdasarkan jenis komplainnya secara descending dan kode pegawai secara ascending!</b></i>

In [ ]:
%%bigquery df --project {project_id} --verbose

-- Tampilkan siapa saja karyawan yang pernah menerima komplain dan jenis komplain apa saja yang pernah terjadi
-- urutkan berdasarkan jenis komplainnya secara descending dan kode pegawai secara ascending
SELECT DISTINCT
  order_maker_id,
  complain_detail
FROM dqlab-9876543.dq_pizza.orders
ORDER BY
complain_detail DESC,
order_maker_id ASC

Data Source : <i>https://mavenanalytics.io/challenges/maven-pizza-challenge</i> (dengan modifikasi)


---

<br>
<a href="https://www.linkedin.com/in/muhamad-rasyid-aditya-17637a225/"><img src="https://img.shields.io/badge/-© 2025 Muhamad Rasyid Aditya-417DAC?style=for-the-badge&logoColor=white"/></a>

<a href="https://dqlab.id/"><img src="https://dqlab.id/files/dqlab/cache/87e30118ebba5ec7d96f6ea8c9dcc10b_x_118_X_55.png" align="left" /></a>